/*mixin flex*/

@mixin flex($dir, $wrap, $jc, $ai, $gap){
    display: flex;
    flex-direction:$dir ;
    flex-wrap:$wrap ;
    justify-content:$jc ;
    align-items:$ai ;
    gap: $gap;
}

/*mixin tablet*/

@mixin tablet{
    @media(min-width:768px) and (max-width:1024px){
        @content;
    }
}

/*mixin mobile*/

@mixin mobile{
    @media(min-width:320px) and (max-width:479px){
        @content;
    }
}

/*mixin intermedio*/

@mixin mobilelarge{
 @media(min-width:480px) and (max-width:767px){
        @content;
    }
}
