

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

$fuente-1:"Bebas Neue", sans-serif ;
$fuente-2: "Lora", serif;

$color-principal: rgb(7, 7, 146);

