@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.footer-contenedor {
  @include m.flex(column, wrap, center, center, 20px);
   padding: 20px;
   background-color: v.$color-principal;



.footer-box2 {
   @include m.flex(column, wrap, center, center, 0);
    width: 100%;


.h3box2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-family: v.$fuente-1;
  font-size: 3rem;
}


.footer-box2 div {
  display: inline-block;
}


.footer-box2 {
   @include m.flex(column, wrap, center, center, 0);

}

.footer-box2 > div {
   @include m.flex(column, wrap, center, center, 15px);
 
}


.logo-footer {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s;
}

.logo-footer:hover {
  transform: scale(1.1);
}
}

.footer-box3 {
  width: 100%;
  display: flex;
  justify-content: center;


.footer-h2-b3 {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: v.$fuente-1;
}
}
@include m.mobile{
  .logos{
    @include m.flex(column, wrap, center, center, 1rem)
    
  }
}

@include m.mobilelarge{
.logos{
    @include m.flex(column, wrap, center, center, 1rem)
    
  }
}

}


   
