@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.navbar {
  background-color: rgb(7, 7, 146);
}
.navbar a {
  font-family: "Lora", serif;
  text-decoration: none;
}
.navbar h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  color: white;
}
.navbar h1:hover {
  color: crimson;
  transform: scale(1.05);
}
.navbar .nav-link {
  font-size: 1rem;
  color: white;
}
.navbar .nav-link:hover {
  color: crimson;
  transform: scale(1.05);
}

/*mixin flex*/
/*mixin tablet*/
/*mixin mobile*/
/*mixin intermedio*/
/*extend*/
.contenedor .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(7, 7, 146);
}
.footer-contenedor .footer-box2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}
.footer-contenedor .footer-box2 .h3box2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}
.footer-contenedor .footer-box2 .footer-box2 div {
  display: inline-block;
}
.footer-contenedor .footer-box2 .footer-box2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.footer-contenedor .footer-box2 .footer-box2 > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-contenedor .footer-box2 .logo-footer {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s;
}
.footer-contenedor .footer-box2 .logo-footer:hover {
  transform: scale(1.1);
}
.footer-contenedor .footer-box3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-contenedor .footer-box3 .footer-h2-b3 {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
@media (min-width: 320px) and (max-width: 479px) {
  .footer-contenedor .logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .footer-contenedor .logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.titulo-seccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-family: "Bebas Neue", sans-serif;
  grid-column: 1/-1;
  color: white;
  font-size: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/novedades/pexels-caique-araujo-101156227-28653606.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 320px) and (max-width: 479px) {
  .titulo-seccion {
    font-size: 3rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .titulo-seccion {
    font-size: 3rem;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 2rem;
  background-color: #555;
}
.contenedor .card {
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.contenedor .card h3, .contenedor .card h4 {
  font-family: "Bebas Neue", sans-serif;
}
.contenedor .card p {
  font-family: "Lora", serif;
}
.contenedor .card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.contenedor .card img:hover {
  transform: scale(1.1);
}
.contenedor .card .descripcion {
  font-size: 1rem;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.contenedor .card .boton-comprar {
  margin-top: auto;
}
@media (min-width: 320px) and (max-width: 479px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 5px;
  }
  .contenedor .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  .contenedor .card .boton-comprar {
    margin-top: auto;
  }
  .contenedor .card .card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
  }
  .contenedor .card .descripcion {
    font-size: 1rem;
    color: #555;
    overflow: hidden;
  }
}

.formulario-de-pago {
  padding: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/novedades/pexels-jean-paul-wright-39375669-7929649.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.formulario-de-pago .titulo-formulario {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}
.formulario-de-pago label {
  color: white;
  font-family: "Lora", serif;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/novedades/pexels-jean-paul-wright-39375669-7929649.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.formulario .button-formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.formulario .button-formulario button {
  background-color: rgb(7, 7, 146);
}
.formulario .form-label {
  color: white;
}
.formulario .titulo-formulario {
  text-align: center;
  font-size: 3rem;
  color: white;
  background: none;
  font-family: "Bebas Neue", sans-serif;
}

@keyframes vibrate {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }
  10% {
    transform: translateY(10px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}
.main-inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/novedades/mark6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-inicio .star-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-inicio .star-container h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  color: white;
}
.main-inicio .star-container p {
  font-family: "Lora", serif;
  color: white;
  text-align: center;
}
.main-inicio .star-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
.main-inicio .star-container2 h2 {
  grid-column: 1/-1;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
}
.main-inicio .star-container2 .card {
  animation: vibrate 4s linear infinite;
}
.main-inicio .star-container2 .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-inicio .star-container2 .card .card-body h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}
.main-inicio .star-container2 .card:hover {
  animation: none;
}
.main-inicio .star-container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
.main-inicio .star-container3 h2 {
  grid-column: 1/-1;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
}
.main-inicio .star-container3 .card-rotate {
  width: 200px;
  height: 280px;
  perspective: 1000px;
  background-color: white;
  border-radius: 10px;
}
.main-inicio .star-container3 .card-rotate .inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.main-inicio .star-container3 .card-rotate:hover .inner {
  transform: rotateY(180deg);
}
.main-inicio .star-container3 .card-rotate .front, .main-inicio .star-container3 .card-rotate .back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.main-inicio .star-container3 .card-rotate .front img, .main-inicio .star-container3 .card-rotate .back img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}
.main-inicio .star-container3 .card-rotate .front h3, .main-inicio .star-container3 .card-rotate .back h3 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: black;
}
.main-inicio .star-container3 .card-rotate .back {
  transform: rotateY(180deg);
  padding: 1rem;
}
.main-inicio .star-container3 .card-rotate .back p {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 13px;
}
@media (min-width: 320px) and (max-width: 479px) {
  .main-inicio .star-container {
    padding: 1rem;
    gap: 1rem;
  }
  .main-inicio .star-container h2 {
    font-size: 2rem;
  }
  .main-inicio .star-container2 {
    grid-template-columns: 1fr;
  }
  .main-inicio .star-container2 h2 {
    font-size: 2rem;
  }
  .main-inicio .star-container3 {
    grid-template-columns: 1fr;
  }
  .main-inicio .star-container3 h2 {
    font-size: 2rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .main-inicio .star-container {
    padding: 1rem;
    gap: 1rem;
  }
  .main-inicio .star-container h2 {
    font-size: 3rem;
  }
  .main-inicio .star-container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-inicio .star-container2 h2 {
    font-size: 3rem;
  }
  .main-inicio .star-container3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-inicio .star-container3 h2 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-inicio .star-container {
    padding: 1rem;
    gap: 1rem;
  }
  .main-inicio .star-container h2 {
    font-size: 4rem;
  }
  .main-inicio .star-container2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-inicio .star-container2 h2 {
    font-size: 4rem;
  }
  .main-inicio .star-container3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-inicio .star-container3 h2 {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
